@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ايدن تورك للسفر والسياحة</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/logo.jpeg" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Arsha - v4.9.1
    * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">
            <h1 class="logo"><a href="/">Aydinturk Turizm</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar mx-auto">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">الصفحة الرئيسة</a></li>
                    <li><a class="nav-link scrollto" href="#clients">شركائنا</a></li>
                    <li><a class="nav-link scrollto" href="#about">عن الشركة</a></li>
                    <li><a class="nav-link scrollto" href="#services">الخدمات</a></li>
                    <li><a class="nav-link scrollto" href="#contact">تواصل معنا</a></li>
                    <li><a class="nav-link" href="/Identity/Account/Login">تسجيل دخول</a></li>
                    
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>شركة ايدن تورك للسفر والسياحة</h1>
                    <h2>نوفر لك افضل خدمة حجز تذاكر بأنسب الاسعار ولكل انحاء العالم</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="/Identity/Account/Login" class="btn-get-started scrollto">تسجيل دخول</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200" style="display:flex; justify-content:end;">
                    <img src="/assets/img/travel.png" class="img-fluid animated" alt="" style="width:500px;height:auto; "/>
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients section-bg">
            <div class="container">
                <h2 class="pt-2">شركائنا</h2>
                <div class="row" data-aos="zoom-in">

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/parteners/iraqia.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/parteners/flybaghdad.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/parteners/qataria.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/parteners/emarat.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/parteners/kuwait.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/parteners/logo.png" class="img-fluid" alt="">
                    </div>

                </div>

            </div>
        </section><!-- End Cliens Section -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>عن الشركة</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-12">
                        <p class="text-center" style="font-size: 1.5rem">
                            ايدن تورك هي شركة للسفر والسياحة مقرها في تركيا ولديها فروع في العراق, تقدم خدمات متعددة مثل حجز تذاكر الطيران للافراد والشركات وبأسعار مناسبة الى جميع بلدان العالم وكذلك نقل الافراد والمجموعات الى خارج وداخل العراق وكذلك البضائع  
                        </p>
                    </div>
                   
                </div>

            </div>
        </section><!-- End About Us Section -->
        <!-- ======= Why Us Section ======= -->
        
        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>خدماتنا</h2>
                    <p>نقدم خدمات متنوعة في مجال السفر والسياحة مثل حجز تذاكر السفر عبر الخطوط الجوية وكذلك الرحلات البرية وخدمات نقل البضائع وتحويل الاموال</p>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4><a href="">حجز التذاكر</a></h4>
                            <p>من خلال شراكتنا مع عدة شركات رائدة في مجال السفر , نوفر لكم تذاكر السفر لكافة الدول وبأنسب الاسعار</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="">نقل مسافرين</a></h4>
                            <p>تقوم شركتنا بتسيير رحلات من العراق الى تركيا والسعودية ودول مجاورة عديده عبر باصات مكيفة ومهيئة بأحدث الوسائل وبأسعار  مناسبة</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4><a href="">نقل البضائع</a></h4>
                            <p>توفر شركتنا خدمة نقل مختلف البضائع من والى العراق و على مدار السنة وبدون اضرار وبفتره وجيزة </p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">تحويل الاموال</a></h4>
                            <p>توفر شركتنا خدمة تحويل الاموال أو ارسالها باليد  من العراق الى كافة الدول المجاورة</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->
        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta" style="direction:rtl">
            <div class="container" data-aos="zoom-in">

                <div class="row">
                    <div class="col-lg-9 text-center text-lg-start">
                        <h3>تحدث معنا مباشرة</h3>
                        <p>يمكنك التواصل معنا عبر الواتساب للتحدث مباشرة مع كادرنا للأستفسار او الدعم في حال وجود مشكلة</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#">اضغط هنا للبدء</a>
                    </div>
                </div>

            </div>
        </section><!-- End Cta Section -->
        

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>تواصل عبر البريد الالكتروني</h2>
                    <p>سيتم الاستجابة على اسألتكم واستفساراتكم عبر البريد الالكتروني, يرجى ادخال معلومات اتصال حقيقة ومعلومات كافية ليتم التواصل معكم بأسرع وقت  </p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>العنوان:</h4>
                                <p>العراق, بغداد, حي الجامعة , شارع الربيع</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>البريد الالكتروني:</h4>
                                <p>gazwanalqubtan@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>هاتف:</h4>
                                <p>+9647505853328</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3333.9983662667005!2d44.32637318480427!3d33.318858180811816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15577e7dca6f1ce9%3A0xf334b5fe50171e2f!2z2LTYp9ix2Lkg2KfZhNix2KjZiti52Iwg2KjYutiv2KfYrw!5e0!3m2!1sar!2siq!4v1670137407875!5m2!1sar!2siq" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">الاسم</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">البريد الالكتروني</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">الموضوع</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name">الرسالة</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">جاري التحميل...</div>
                                <div class="error-message"></div>
                                <div class="sent-message">تم ارسال رسالتك, شكرا!</div>
                            </div>
                            <div class="text-center"><button type="submit">ارسال</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 footer-contact">
                        <h3>Aydinturk Turizm</h3>
                        <p>
                            شارع الربيع <br>
                            العراق, بغداد<br>
                            <strong>Phone:</strong> +9647505853328<br>
                            <strong>Email:</strong> gazwanalqubtan@gmail.com<br>
                        </p>
                    </div>

                    


                    <div class="col-lg-6 col-md-6 footer-links">
                        <h4>حساباتنا على مواقع التواصل</h4>
                        <p>يمكنك متابعتنا على مواقع التوصل الاجتماعي للاطلاع على احدث العروض </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Alqubtan For IT Solutions</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                Designed by <a href="https://bootstrapmade.com/">Alqubtan</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>