@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="container">

        <h1 class="text-danger text-center">@ViewData["Title"]</h1>
        <p class="text-danger text-center">عذراً, انت لا تملك صلاحية الدخول الى هذه الصفحة.</p>
    </div>
</header>
